/* Navbar */
.navbar-nav {
    font-family: 'Orbitron', sans-serif;
}

.navbar-toggler {
    border-radius: 50%;
    background-color: black;
    padding:10px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.container {
    height: 100%
}