@model Rando.Models.Ramble

@{
    ViewData["Title"] = "Create";
}
<div class="container my-5">
    <h1>Ajouter une rando</h1>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="AddRamble">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input name="Title" placeholder="Titre" class="form-control" />
                </div>
                <div class="form-group">
                    <textarea name="Description" placeholder="Description" class="col-md-12" style="height:200px;"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input name="HikingPhotoUrl" placeholder="Lien de la photo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select name="Region" placeholder="Région" class="form-control">
                                <option>Auvergne-Rhône-Alpes</option>
                                <option>Bourgogne-Franche-Comté</option>
                                <option>Bretagne</option>
                                <option>Centre-Val de Loire</option>
                                <option>Corse</option>
                                <option>Grand Est</option>
                                <option>Hauts-de-France</option>
                                <option>Ile-de-France</option>
                                <option>Normandie</option>
                                <option>Nouvelle-Aquitaine</option>
                                <option>Occitanie</option>
                                <option>Pays de la Loire</option>
                                <option>Provence-Alpes-Côte d'Azur</option>
                                <option>Outre-mer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="City" placeholder="Ville" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="DepartLatitude" placeholder="Latitude" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="DepartLongitude" placeholder="Longitude" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="Distance" placeholder="Distance en km" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="HeightDifferencePositive" placeholder="Dénivelé positif en m" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="HeightDifferenceNegative" placeholder="Dénivelé négatif en m" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="Duration" placeholder="Durée moyenne" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input name="Difficulty" placeholder="Dénivelé négatif en m" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select name="Difficulty" placeholder="Difficulté" class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Valider" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Retour</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
