@using Rando.Models;
@using Rando.ViewModels;
@model RamblePageViewModel;

@{
    ViewData["Title"] = "Opinion Accepted";
}



<div class="container">
    <h1>Merci !</h1>
    <p>Votre avis a bien été pris en compte.</p>    
</div>